*, *::after, *::before {
    font-family: inherit;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}
