@use "sass:color";
@use "variables" as v;

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 2.4rem;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 100%;
    }
}

.contact-info {
    text-align: left;
    padding: 2rem;

    @media (max-width: 900px) {
        text-align: center;
    }

    p {
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
        line-height: 1.5;
        text-align: justify;
    }

    a {
        color: v.$color-text;
        font-weight: bold;
    }
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.btn-contact-call,
.btn-contact-WhatsApp {
    display: block;
    width: 100%;
    max-width: 260px;
    padding: 1.6rem 0;
    border-radius: .8rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-contact-WhatsApp {
    background-color: v.$color-whatsapp;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 26px rgba(0, 0, 0, 0.15);
        background-color: color.scale(v.$color-whatsapp, $lightness: -10%);
    }
}

.btn-contact-call {
    background-color: v.$color-call;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 26px rgba(0, 0, 0, 0.15);
        background-color: color.scale(v.$color-call, $lightness: -10%);
    }
}

.contact-note {
    margin-top: 1.2rem;
    text-align: left;

    @media (max-width: 900px) {
        text-align: center;
    }
}

.info-note {
    max-width: 78ch;
    margin: 0 auto 2rem;
    padding: 1.6rem 2rem;
    background-color: v.$color-info-note;
    border-left: 4px solid v.$color-info-note-border;
    border-radius: .8rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  }