@use "variables" as v;

.btn-contact-call, .btn-contact-WhatsApp {
    display: flex; //aby transform zadziałało, zdjąć po poprawce sekcji
    z-index: 1;
    width: 120px;
    background-color: v.$color-btn-header-main;
    color: v.$color-head-big-text;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.8rem;
    text-align: center;
    transition: .5s;
}

.btn-contact-call:hover, .btn-contact-call:focus, .btn-contact-WhatsApp:hover, .btn-contact-WhatsApp:focus {
    transform: translateY(-10px);
    background-color: v.$color-btn-header-main-hover;
}