@use "variables" as v;

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.contact-info {
    text-align: left;

    @media (max-width: 768px) {
        text-align: center;
    }

    p {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
        line-height: 1.4;
    }

    a {
        color: v.$color-head-big-text;
        font-weight: bold;
    }
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btn-contact-call,
.btn-contact-WhatsApp {
    display: block;
    width: 220px;
    padding: 1.6rem 0;
    border-radius: .8rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-contact-WhatsApp {
    background-color: v.$color-whatsapp;

    &:hover {
        transform: translateY(-4px);
        background-color: darken(v.$color-whatsapp, 10%);
    }
}

.btn-contact-call {
    background-color: v.$color-call;

    &:hover {
        transform: translateY(-4px);
        background-color: darken(v.$color-call, 10%);
    }
}