@use "mixins" as *;

.container {
    width: 96%;
    margin: 0 auto;

    @include media-queries {
        width: 760px; 
    }

    @include media-queries ("l") {
        width: 1000px;
    }

    @include media-queries ("xl") {
        width: 1800px;
    }
}

.row {
    display: grid;
    gap: 3rem;

    grid-template-columns: 1fr;

    @include media-queries("m") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-queries("xl") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.col {
    padding: 1rem;

    @include media-queries("xs") {
        grid-column: span 1;
    }

    @include media-queries("m") {
        grid-column: span 1;
    }

    @include media-queries("l") {
        grid-column: span 1;
    }
}