@use "mixins" as *;

.container {
    width: 96%;
    margin: 0 auto;

    @include media-queries {
        width: 760px; 
    }

    @include media-queries ("l") {
        width: 1000px;
    }

    @include media-queries ("xl") {
        width: 1800px;
    }
}

.row {
    display: grid;
    gap: 3rem;

    grid-template-columns: 1fr;

    @include media-queries("m") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-queries("xl") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.col {
    flex: 0 0 100%;
    padding: 1rem;

    @include media-queries("xs") {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    @include media-queries("m") {
          flex-basis: calc(50% - 2rem);
    }

    @include media-queries("l") {
          // Subtracting 2rem to account for the gap between columns
          flex-basis: calc(33.333% - 2rem);
    }
}