@use "mixins" as *;

.container {
    width: 96%;
    margin: 0 auto;
    padding: 0 1.6rem;

    @include media-queries ("m") {
        max-width: 760px; 
        padding: 0 2rem;
    }

    @include media-queries ("l") {
        max-width: 1280px;
        padding: 0 2.4rem;
    }

    @include media-queries ("xl") {
        max-width: 1800px;
        padding: 0 3rem;
    }
}

.row {
    display: grid;
    gap: 3rem;

    grid-template-columns: 1fr;

    @include media-queries("m") {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }

    @include media-queries(1280px) {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

.col {
    display: flex;
    flex-direction: column;
    min-width: 0; // pozwala gridowi zawężać kolumnę i zapobiega wychodzeniu poza viewport
    padding: 1rem;
}
