@use "variables" as v;
@use "mixins" as *;

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: v.$color-text;   
    text-align: justify;
    background-image: url("../assets/img/bg_header_small.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
    }

    @include media-queries("xs") {
        .hero-title {
          padding: 0.5rem;
        }
      
        .logo_firmy {
          height: 5rem;
        }
      
        .nav {
          height: 6rem;
        }
    }

    @include media-queries ("m"){
        background-image: url("../assets/img/bg_header_medium.webp");
    }

    @include media-queries ("l") {
        background-image: url("../assets/img/bg_header_big.webp");
    }
}

.hero-title {
    z-index: 1;
    flex-basis: 23%;
    color: v.$color-text;
    font-size: 2.8rem;
    text-align: center;
    padding: 1rem;
    line-height: 1.2;

    opacity: 0;
    animation: fadeIn 1.5s ease-in-out .1s forwards;

    @include media-queries("m") {
        font-size: 5rem;
    }
    
    @include media-queries ("l") {
        font-size: 6rem;
    }  
    
    @include media-queries ("xl") {
        font-size: 9rem;
    }
}

.btn-header-main {
    z-index: 1;
    width: 120px;
    background-color: v.$color-btn-header-main;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.8rem;
    text-align: center;
    transition: .5s;

    opacity: 0;
    animation: fadeIn 1.5s ease-in-out .1s forwards;
}

.btn-header-main:hover, .btn-header-main:focus {
    transform: translateY(-10px);
    background-color: v.$color-btn-header-main-hover;
}