@use "variables" as v;
@use "mixins" as *;

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: v.$color-head-big-text;   
    background: url("../assets/img/bg_header_small.webp") center/cover fixed;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.363);
        position: absolute;
    }

    @include media-queries {
        background-image: url("../assets/img/bg_header_medium.webp");
    }

    @include media-queries (1024px) {
        background-image: url("../assets/img/bg_header_big.webp");
    }
}

.head-big-text {
    z-index: 1;
    flex-basis: 23%;
    color: v.$color-head-big-text;
    font-size: 3.6rem;
    text-align: center;
    padding: 1rem;
    line-height: 3ex;

    @include media-queries {
        font-size: 5rem;
    }
    
    @include media-queries (1024px) {
        font-size: 7rem;
    }   
}

.btn-header-main {
    z-index: 1;
    width: 120px;
    background-color: v.$color-btn-header-main;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.8rem;
    text-align: center;
    transition: .5s;
}

.btn-header-main:hover, .btn-header-main:focus {
    transform: translateY(-10px);
    background-color: v.$color-btn-header-main-hover;
}