.image-box {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: .4rem;
    box-shadow: 0 0 1.5rem gray;

    &:hover {
        box-shadow: 0 0 2.5rem;
    }

    &__title {
        text-align: center;
        padding-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &__picture {
        width: 100%;
    }
    
}