@use "variables" as v;
@use "mixins" as *;

.image-box {
    background: v.$color-img-bg;
    border-radius: .8rem;
    padding: 1.2rem;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    display:flex;
    flex-direction:column;
    gap:1rem;
  
    &__title {
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
    }
  
    &__media {
      height: 20rem;
      border-radius:.6rem;
      overflow:hidden;
    }
  
    &__picture {
      display:block;
      width:100%;
      height:100%;
      object-fit:cover;
      transition: transform .3s ease;
    }
  
    &:hover .image-box__picture {
      transform: scale(1.03);
    }
  
    &__text {
      font-size: 1.4rem;
      color: v.$color-text;
      line-height:1.5;
    }

    @include media-queries("m") {
      &__title { font-size: 2.0rem; }
      &__media { height: 22rem; }
      &__text { font-size: 1.6rem; }
    }
  
    @include media-queries("l") {
      &__title { font-size: 2.2rem; }
      &__media { height: 24rem; }
      &__text { font-size: 1.7rem; }
    }

}