@use "variables" as v;
@use "mixins" as *;

.image-box {
    display:flex;
    flex-direction: column;
    background: v.$color-img-bg;
    border-radius: .8rem;
    padding: 1.6rem;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    
    gap:1.6rem;

    &__title {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-align: center;
    }

    .image-box__inner {
      display: flex;
      align-items: flex-start;
      gap: 1.6rem;
    }

    &__media {
      width: 14rem;
      height: 10.5rem;
      border-radius:.6rem;
      overflow:hidden;
      flex-shrink: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  
    &__picture {
      width:100%;
      height:100%;
      object-fit:cover;
      object-position: top;
      transition: transform .3s ease;
    }

    &:hover .image-box__picture {
      transform: scale(1.03);
    }
  
    &__text {
      flex: 1;
      font-size: 1.4rem;
      color: v.$color-text;
      line-height:1.5;
      margin-top: .3rem;
    }

    @include media-queries("m") {
      &__media {width: 16rem; height: 12rem;}
      &__title { font-size: 1.9rem; }
      &__text { font-size: 1.5rem; }
    }
  
    @include media-queries("l") {
      &__media {width: 18rem; height: 13.5rem;}
      &__title { font-size: 2rem; }
      &__text { font-size: 1.6rem; }

      .image-box:hover .image-box__picture {
        transform: scale(1.05);
      }
    }
}