@use "variables" as v;
@use "mixins" as *;

section {
  padding: 8rem 1rem 2rem 1rem;

  &:nth-of-type(even) {
    background-color: v.$color-bg-main-section;
  }
}

.section-title {
  font-size: 3rem;
  margin-bottom: 1.6rem;
  text-align: center;
  line-height: 1.3;
}

@include media-queries("m") {
  .section-title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }
}

@include media-queries("l") {
  .section-title {
    font-size: 3.8rem;
    margin-bottom: 2.4rem;
  }
}

@include media-queries("xl") {
  .section-title {
    font-size: 4.4rem;
    margin-bottom: 3rem;
  }
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  color: v.$color-text;
}

@include media-queries("m") {
  .subtitle {
    font-size: 2.2rem;
  }
}

@include media-queries("l") {
  .subtitle {
    font-size: 2.6rem;
  }
}

@include media-queries("xl") {
  .subtitle {
    font-size: 3rem;
  }
}

.section-text {
  font-size: 1.5rem;
  line-height: 1.6;
  color: v.$color-text;
  margin-bottom: 1.6rem;
  text-align: justify;
}

.section-text--center {
  text-align: center;
}

@include media-queries("m") {
  .section-text {
    font-size: 1.6rem;
  }
}

@include media-queries("l") {
  .section-text {
    font-size: 1.7rem;
  }
}

@include media-queries("xl") {
  .section-text {
    font-size: 1.9rem;
  }
}

article p {
  text-align: justify;
}
