@use "variables" as v;
@use "mixins" as *;

section {
  min-height: 100vh;
  padding-top: 8rem;

  &:nth-of-type(even) {
    background-color: v.$color-bg-main-section;
  }
}

.section-title {
  font-size: 3rem;
  text-align: center;
  line-height: 1.3;
}

@include media-queries("xs") {
  .section-title {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
}

@include media-queries("m") {
  .section-title {
    font-size: 3.4rem;
  }
}

@include media-queries("l") {
  .section-title {
    font-size: 3.8rem;
  }
}

@include media-queries("xl") {
  .section-title {
    font-size: 4.4rem;
  }
}