@use "variables" as v;
@use "mixins" as *;

section {
  min-height: 100vh;
  padding-top: 8rem;

  &:nth-of-type(even) {
    background-color: v.$color-bg-main-section;
  }

  h2 {
    font-size: 3.4rem;
    text-align: center;
    margin-bottom: 4rem;

  }
}

@include media-queries("xs") {
  section > h2 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
}