@use "variables" as v;
@use "mixins" as *;

.nav {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    position: fixed;
    width: 100%;
    height: 7rem;
    color: v.$color-head-big-text;
    background-color: v.$color-nav-bg;
    z-index: 2;

    .material-symbols {
        font-size:6rem;
        @include media-queries("l") {
            display: none;
        }
    }

    ul {
        display: none;
        @include media-queries("l") {
            display: block;
    }
    }
}

.logo {
    flex-basis: 50%;
    padding-left: 2%;

    .logo_firmy {
        height: 7rem;
    }
    
    .nazwa_firmy {
        font-size: 2rem;
    }
}



.menu {
    flex-basis: 50%;
    padding-right: 2%;
    text-align: right;
}