@use "variables" as v;
@use "mixins" as *;

.nav {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    position: fixed;
    width: 100%;
    height: 7rem;
    color: v.$color-head-big-text;
    z-index: 2;
    transition: background-color 0.5s ease;

    .material-symbols {
        font-size:6rem;
        @include media-queries("l") {
            display: none;
        }
    }

    .lista_menu {
        display: none;
        @include media-queries("l") {
            display: block;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: 40%;
    padding-left: 2%;
}

.link_firmy {
    display: block;
    height: 100%;
}

.logo_firmy {
    display: flex;
    height: 7rem;
}
    
.nazwa_firmy {
    display: flex;
    color: v.$color-head-big-text;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.menu {
    flex-basis: 60%;
    padding-right: 2%;
    text-align: right;
}

.scroll_menu {
    background-color: v.$color-nav-bg;
    padding: 2%;
}