$color1: #D2D3D9;
$color2: #EBEDF2;
$color3: #AFBF34;
$color4: #BFB3A4;
$color5: #0D0000;

//zmienna dla paska nav
$color-nav-bg: $color2;

//zmienna dla tekstu headera
$color-head-big-text: $color5;

//zmienne dla przycisków
$color-btn-header-main: #bfb3a476;
$color-btn-header-main-hover: $color4;

//zmienne dla sekcji w main
$color-bg-main-section: $color2;